@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Libre+Baskerville&display=swap');


/* CONFIGURAÇÕES GERAIS */
:root{
    --cinza1: #2c2f32;
    --cinza2: #2c3032;
    --preto: #1f2223;
    --branco1: #f7fdff;
    --branco2: #f0faff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

body{
    background: var(--cinza1);
    color: var(--branco2);
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    text-align: center;
    
}

main{
    margin: 0 auto;
    padding: 60px;
}


/* MENU */

.menu{
    align-content: center;
    border-bottom: 1px solid var(--branco1);
    background-color: var(--preto);
    color: var(--branco1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
    width: 100vw;
    z-index: 1;
}

.menu > a{
    color: var(--branco1);
    text-decoration: none;
}

/* SOBRE */

.sobre{
    margin-top: 10%;
    margin: 0 auto;
    min-height: 70vh;
    max-width: 800px;
}

.nome {
    text-shadow: 2px 2px 2px var(--cinza1);
    font-family: 'Elsie', cursive;
    padding: 40px;
}

.links{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.icone{
    background: var(--branco1);
    border-radius: 50%;
    height: 50px;
    margin: 0 30px;
    transition: all 0.5s linear;
}

.icone:hover{
    background: var(--cinza1);
}

h2{
    text-shadow: 1.5px 1.5px 1.5px var(--branco2);
    padding: 15px;
}

/* SKILLS */
.skills{
    padding: 30px;
    min-height: 50vh;
    text-align: left;
}

.skills p{
    padding-top: 20px;
}

.hard-skills{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.hard{
    height: 50px;
}


/* PROJETOS */
.projetos, .estudos{
    padding-top: 30px;
    text-align: left;
}



.projeto{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    padding: 20px;
    width: 300px;
}

.projetos-informacoes{
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    text-align: center;
}

.projeto > .img-projeto{
    border-radius: 20px;
    width: 150px;
}

.informacoes{
    align-items: center;
    display: flex;
    gap: 15px;
    letter-spacing: 0.1em;
    flex-direction: column;
}

.informacoes > h3{
    font-size: 1.5em;
}

.informacoes p:nth-child(3){
    border-top: 1px solid var(--branco1);
    padding-top: 5px;
}

.acesse{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
}

.acesse li a{
    background: var(--branco2);
    border: 1px solid var(--preto);
    border-radius: 5px;
    color: var(--preto);
    font-size: 0.7em;
    overflow: hidden;
    padding: 5px;
    text-decoration: none;
    transition: all 1.5s linear;
}

.acesse li a:hover{
    background: var(--preto);
    color: var(--branco2);
    box-shadow: 2px 2px 2px #000000ac;
    
}

.veja-mais > a{
    color: var(--preto);
    font-size: 1.5em;
    padding: 30px;
}





/* ESTUDOS */
.estudos > aside{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.estudo{
    border-bottom: 1px solid var(--branco1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-width: 400px;
}

/* RODAPÉ */
footer{
    background: var(--preto);
    color: var(--branco1);
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

@media screen and (min-width:800px){
    .menu{
        flex-direction: row;
        position: fixed;
    }

    .projeto{
        flex-direction: row;
        width: 500px;
        align-items: flex-start;
    }
}

@keyframes troca-cor{
    0%{
        background: var(--cinza1);
    }
    100%{
    background: var(--preto);
    }
}