/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Yellowtail&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Elsie&family=Libre+Baskerville&display=swap');


/* CONFIGURAÇÕES GERAIS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    background: #fbfbff;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    text-align: center;
}

/* SOBRE */
header{
    background: #000;
    color: #f0efeb;
    padding: 30px 0;
}

header p{
    margin: 0 30px;
}

header p:nth-child(1){
    border-top: 1px solid #f0efeb;
    border-bottom: 1px solid #f0efeb;
    padding: 20px;
}

header p:nth-child(3){
    margin: 0 auto;
    max-width: 800px;
}

.nome {
    text-shadow: 2px 2px 2px #cddafd;
    font-family: 'Elsie', cursive;
    padding: 40px;
}

.links{
    display: flex;
    gap: 40px;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.icone{
    background: #fbfbff;
    border-radius: 50%;
    height: 50px;
    margin: 0 30px;
    transition: all 0.5s linear;
}

.icone:hover{
    background: #cddafd;
}

.ilustracoes{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 30px 0;
    overflow: hidden;
}

.img1, .img3{
    background: #e2ece9;
    border-radius: 40px;
    height: 200px;
    padding: 40px;
    width: 200px;
}

.img1 img{
    border-radius: 40px;
    height: 120px;
    position: relative;
    width: 120px;
}

.img2{
    background: #cddafd;
    border-radius: 40px;
    height: 200px;
    padding: 40px;
    width: 200px;
}

.img2 img{
    border-radius: 200px 40px;
    height: 120px;
    position: relative;
    width: 120px;
}

.img3 img{
    border-radius: 40px 200px;
    height: 120px;
    position: relative;
    width: 120px;
}

main{
    margin: 0 auto;
    max-width: 800px;
}

h2{
    text-shadow: 5px 5px 5px #cddafd;
}

/* SKILLS */
.skills{
    padding: 30px;
    text-align: left;
}

.skills p{
    padding-top: 20px;
}

.hard-skills{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.hard{
    height: 50px;
}


/* PROJETOS */
.projetos, .estudos{
    padding: 30px;
    text-align: left;
}

.projeto{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.img-projeto{
    border-radius: 20px;
    max-height: 350px;
}

/* .img-projeto:hover{
    animation: rotate 1s;
    transition: all .5s;
} */

.descricao{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.descricao ul:last-child{
    align-self: center;
}

.acesse{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style-type: none;
    
}

.acesse li a{
    background: #e2ece9;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    overflow: hidden;
    padding: 5px;
    text-decoration: none;
    transition: all 1.5s linear;
}

.acesse li a:hover{
    background: #cddafd;
    box-shadow: 2px 2px 2px #000000ac;
    
}



/* ESTUDOS */
.estudo{
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

/* RODAPÉ */
footer{
    background: #000;
    color: #e2ece9;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

/* PARA TELAS MAIORES */
@media screen and (min-width: 800px){
    .img1, .img2, .img3{
        height: 460px;
        width: 460px;
    }

    .img1 img, .img2 img, .img3 img{
        height: 380px;
        width: 380px;
    }

    .projeto{
        flex-direction: row;
    }

    aside .projeto:nth-child(2n){
        flex-direction: row-reverse;
    }
}

@keyframes rotate{
    0%{
        transform:  rotateY(180deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
